*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;    
}
body{
    position: relative;
    top: 130px;
}
.section{
    width: 100%;
}
nav{
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    border-bottom:1.5px solid rgb(130, 157, 195);
    background-color: #0072ef;
    z-index: 10;
}

.navleft{
    width: 40%;
    height: 100%;
    display: flex;  
}
.navleft>h3{
    position: relative;
    left: 1.7%;
    top: 10%;
    color: white;
    font-size: 135% ;
    height: 30%;
}
.navright{
    width: 59.5%;
    height: 100%;
}
.navlogo{
    height: 80px;
    margin-left: 7%;
    margin-top: 20%;
    border: 3px solid white;
}
.navright>ul{
    display: flex;
    list-style: none;
    height: 100%;
    float: right;
}
.navoptions{
   height: 100%;
   padding: 10px 34px;
   line-height: 160px;
   text-decoration: none;
   color: white;
   font-size: 20px;
}
.navoptions>a{
    list-style: none;
    text-decoration: none;
}
.navoptions:hover{
    transition: .3s;
    font-size: 22px;
    color: skyblue;
}
.navoptions:active{
    color: lightgreen;
}
.about{
    width: 100%;
    height: 250px;
    background-color:blue;
}
.whyproblems{
    width: 96%;
    height: 90%;
    margin: auto;
    color: white;
}
.whyproblems>h2{
    text-align: center;
}
.whyproblems>p{
    text-align: center;
    font-size: larger;
}
.formArea{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #242424;
    border: none;
}
.form-image{
    width: 39.9%;
    height: 80%;   
    position: relative;
    top: 9%;
}
.form-image>img{
    position: relative;
    width: 90%;
    height: 100%;
    left: 5%;
    border-radius: 4px;
}
.form2{
    width: 59.9%;
    height: 100%;
}
.contactform{
    border-radius: 5px;
    height: 90%;
    width: 80%;
    margin: 4.5% 10% 0 10%;
    position: relative;
    border: none;
}
.contactform>h1{
    color: white;
    
}
form>input[type=text]{
    width:48% ;
    height: 15%;
    border: none;
    border-bottom: 1px solid yellow;
    background-color: #242424;
    margin-top: 5px;
    color: antiquewhite;
}
::placeholder{
    color: antiquewhite;
    top: 10px;
    font-size: 17px;
    font-weight: 100;
}
form>input[type=email]{
    width:48% ;
    height: 15%;
    border: none;
    border-bottom: 1px solid yellow;
    background-color: #242424;
    margin-top: 5px;
    color: antiquewhite;

}
form>input[type=tel]{
    width:48% ;
    height: 15%;
    border: none;
    border-bottom: 1px solid yellow;
    background-color: #242424;
    margin-top: 5px;
    color: antiquewhite;

}
select{
    margin-top: 20px;
    background-color: #242424;
    border: none;
    width: 48%;
    text-align: right;
    color: antiquewhite;
}
label{
    color: antiquewhite;

}
#formcommenttarea{
    width: 96% ;
    height: 15%;
    border: none;
    border-bottom: 1px solid yellow;
    background-color: #242424;
    margin-top: 35px;
    color: antiquewhite;
}
input:focus{
   outline-style: none;
}
#formTextarea:focus{
    outline-style: none;
}
.founders{
    width: 100%;
    height: 600px;
}

.founders>p{
    width: 15%;
    margin: auto;
    margin-top: 3%;
    color: #0072ef;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    font-size: 30px;
    font-weight:700;
}
.content>h2{
    width: 15%;
    margin: auto;
    margin-top: 3%;
    color: #0072ef;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    text-align: center;
}

.founderscontainers{
    width: 90%;
    height: 60%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    top: 13%;
    position: relative;
}
.frame{
    height: 100%;
    width: 30%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}
.frame>img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
}
#showName{
    display: none;
}
.foundersName{
    position: absolute;
    display: none;
    width: 90%;
    height: 20%;
    background-color:#2f334b;
    position: absolute;
    left: 5%;
    bottom: 0;
    transition-duration: 3s;
    transition-delay: .2s;  
    transition-timing-function: ease-in-out;
}
.foundersInfo{   
    width: 90%;
    height: 20%;
    left: 5%;
    border-radius: 3px;
    position: absolute;
    background-color:#2f334b;
    display: block;
    bottom: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    animation-duration: 7s;

}
.foundersInfo:hover{
    height: 60%;
}

.fI1{
    height:30%;
    width: 70%;
    margin: auto;
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-between;
}
.fI1>p{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
   
}
span{
    color: #9e8840;
    font-family: sans-serif;
    font-size: 14px;
    text-align: right;
    width: 50%;
}
.fI2{
    border: 1px solid black;
    width:  70%;
    height: 60%;
    margin: auto;
    display: none;
}
footer{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    background-color: #242424;
}
.content{
    border: 1px solid red;
    width: 100%;
    height: 400px;
}
.boxes{
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.box{
    border: 1px solid black;
    border-radius: 3px;
    width: 48%;
    height: 100%;

}
#footer{
    display: flex;
}
.footer-1{
    width: 48%;
    height: 100%;
}
.footer-2{
    width: 48%;
    height: 100%;
}
.footer-up{
    width: 10%;
    height: 35%;
    position: relative;
    top: -35px;
    display: flex;
    flex-direction: column;
}
.f-up1{
    height: 50%;
    width: 50%;
    border: none;
    border-right: 5px solid #242424;
}
.f-up2{
    height: 50%;
    width: 50%;
    border: none;
    border-right: 5px solid white;
}
.address{
    height: 80%;
    width: 80%;
    position: relative;
    left: 5%;
    top: 10%;
    color: whitesmoke;
}
.socialmedia{
    height: 80%;
    width: 80%;
    position: relative;
    left: 5%;
    top: 10%;
    color: whitesmoke;

}
@media (1px <= width <= 2000px) {
    #foundersName{
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
}
@media (1024px <= width <= 2000px){
    .navleft>h3{
        margin-top: 11%;
    } .founders>p{
        font-size: 23px;
    }
    
}
@media (810px <= width <=1024px ){
    .navleft>h3{
        margin-top: 10%;
    }
    .founders>p{
        font-size: 23px;
        width: 27%;
        text-align: center  ;
    }
    .navright{
        width: 55%;
        position: relative;
        right: 5px;
    }
    .navoptions{
        padding: 0 0 0 29px;
    }
  .navlogo{
    position: relative;
    top: 15%;
  }
  .founderscontainers{
    top: 10%;
    position: relative;
  }
  .founders{
    height: 500px;
}
.contactform{
    height: 86%;
}
}
@media(600px <= width <= 768px) {
    .navleft>h3{
        margin-top: 30px;
        font-size: 15px;
        height:50% ;    
      
        border: 1px solid black;
    }
    .navright{
        width: 58%;
    }
    .navoptions{
        padding:0px 0px 0 12px;
        font-size: 15px;
        padding-right: 2px;
    }
    .founders>p{
        font-size: 20px;
        width: 35%;
        text-align: center;
    }
    .section{
        position: relative;
        top: -20px;
    }
    .form-image>img{
        border: 1px solid green;
        top:-14px;
    }
    .founders{
        height: 400px;
    }
    .contactform{
        height: 85%;
    }
}
@media (768px <= width <= 821px){
    .navleft>h3{
        position: relative;
        top: 31.5%;
        left: 6px;
        font-size: 18px;

    }
    .navlogo{
        position: relative;
        top: 20%;
    }
    .navright{
        width: 65%;
    }
    .navright>ul{
       width: 100%;
       float: right ;  
    }
    .navoptions{
        padding:0 10px 0 10px;
        line-height: 160px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        position: relative;
        right:-60px ;
     }
     .founders{
        height: 400px;
    }
     .founders>p{
        font-size: 20px;
        width: 40%;
        text-align: center;
    }
    .founderscontainers{
        width: 96%;
        position: relative;
    }
    .contactform{
        height: 85%;
    }
}

@media (360px <= width <= 599px){
    .navright{
        display: none;
    }   
    .navleft>h3{
        font-size: 16px;
        position: relative;
        top: 50%;
        line-height: 60px;
        height: 50%;
    }
    .navleft{
        width: 100%;
        height: 100%;
    }
    .navlogo{
        height: 80px;
        margin-top: 5px;
    }
    nav{
        height: 90px;
    }
    .section{
        position: relative;
        top: -20px;
    }
    .navoptions{
        position: relative;
        right:-50px ;
    }
    .founders>p{
        font-size: 30px;
        width: 40%;
        text-align: center;
    }
    .founders{
        height: 1200px;
    }
    .founderscontainers{
        width: 55%;
        height: 1050px;
        top: 4%;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 4px;

    }
    .form-image{
        height: 70%;
    }
    .frame{
        height: 300px;
        width: 100%;
    }
    .form2{
        height: 70%;
        width: 80%;
        
    }

}
@media (500px <= width <= 600px){
    .contactform{
        height: 95%;
    }
    .form2{
        border: 1px solid yellow;
        height: 86%;
    }
}
@media (1px <= width <= 500px) {
    .founders{
        height: 1300px;
    }
    .founderscontainers{
        width: 70%;
        border: 1px solid black;
    }
    .section{
        position: relative;
        top: -20px;
    }
    .navleft>h3{
        border: 1px solid yellow;
        width: 80%;
        font-size: 14px;
        position: relative;
        top: 50%;
    }
    .formArea{
        border: 1px solid yellow;
        height: 750px;
        display: flex;
        flex-direction: column;
    }
    .form-image{
        border: 1px solid yellow;
        width: 50%;
        height: 300px;
        position: relative;
        top: 10px;
        left: 20%;
    }
    .form2{
        position: relative;
        left: 10%;
        height: 450px;
    }
    .contactform{
        height: 94%;
    }
}
@media (250px <= width <= 300px){
    .navleft>h3{
        font-size: 10px;
    }
    .founders>p{
        font-size: 20px;
        width: 50%;
        text-align: center;
    }
}
